.MarketThiefList {
    position: absolute;
    min-height: 30px;
    left: 100px;
    top: 137px;

    /* Headline/5 Regular */

    font-family: 'Broken Console';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    /* identical to box height, or 24px */


    /* Main/Yellow */

    color: #FCD017;
}

.MarketTitle {
    left:0%;
    margin-right: 50%;
    
    
    font-family: 'Broken Console';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

     /* Main/Yellow */

     color: #FCD017;
}