.StoryChooseBox{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .StoryChooseTitle {
        margin-bottom: 50px;
        font-family: Broken Console;
        font-weight: bold;
        font-size: 34px;
        color: #FCD017;
    }
    
    .StoryChooseElementBox{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .StoryImageBox{
            width: 250px;
            height: 250px;
            border: 5px solid #FCD017;
            border-radius: 25px;
            background-color: #FCD01755;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .StoryButtonBox{
            margin-top: 50px;
            width: 200px;
            height: 50px;
            background-color: #752C8B;
            border: none;
            border-bottom: 5px solid #430054;
            border-right: 5px solid #430054;
            font-size: 22px;
            font-family: Broken Console;
            font-weight: bold;
            color: white;
        }
    }

}
