.L_BG {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.L_BG_Thief {
    position: absolute;
    bottom: 13px;
    left: 0px;
    z-index: -1;
    animation-name: L_BG_keyframe;
    animation-duration: 1s;
    animation-duration: leaner;
    animation-iteration-count: infinite;
}

@keyframes L_BG_keyframe {
    0% {
        bottom: 13px;
    }

    50% {
        bottom: 33px;
    }

    100% {
        bottom: 13px;
    }
}

.R_BG {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.R_BG_Thief {
    position: absolute;
    bottom: 50px;
    right: 110px;
    z-index: -1;
    animation-name: R_BG_keyframe;
    animation-duration: 1s;
    animation-duration: leaner;
    // animation-direction:alternate;
    animation-iteration-count: infinite
}

@keyframes R_BG_keyframe {
    0% {
        bottom: 50px;
    }

    50% {
        bottom: 60px;
    }

    100% {
        bottom: 50px;
    }
}