// components > layout > Nav
@import './styles/components/layout/Nav/NavStyle.scss';
// components > layout > Story
@import './styles/components/layout/Story/StoryStyle.scss';
@import './styles/components/layout/Story/childs/ShowBGStyle.scss';
@import './styles/components/layout/Story/childs/ShowTitleStyle.scss';
@import './styles/components/layout/Story/childs/ShowChooseStyle.scss';
// components > layout > Inventory
@import './styles/components/layout/Inventory/InventoryStyle.scss';
@import './styles/components/layout/Inventory/ThiefStyle.scss';
@import './styles/components/layout/Inventory/invenchilds/ItemsLayout.scss';
@import './styles/components/layout/Inventory/Thiefchilds/ThiefLayout.scss';
// components > layout > Market
@import './styles/components/layout/Market/invenchilds/MarketItemsLayout.scss';
@import './styles/components/layout/Market/Thiefchilds/MarketThiefLayout.scss';
@import './styles/components/layout/Market/MarketThiefStyle.scss';
@import './styles/components/layout/Market/MarketMushStyle.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/SpaceBackground.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
