// components > layout > Nav
@import './styles/components/layout/Nav/NavStyle.scss';

// components > layout > Story
@import './styles/components/layout/Story/StoryStyle.scss';
@import './styles/components/layout/Story/childs/ShowBGStyle.scss';
@import './styles/components/layout/Story/childs/ShowTitleStyle.scss';
@import './styles/components/layout/Story/childs/ShowChooseStyle.scss';

// components > layout > Labs
@import './styles/components/layout/Labs/LabsStyle.scss';
@import './styles/components/layout/Labs/childs/ShowLabsStyle.scss';
@import './styles/components/layout/Labs/childs/ShowSideUIStyle.scss';
@import './styles/components/layout/Labs/childs/ShowDummyUIStyle.scss';



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/SpaceBackground.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
